<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walking_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,337},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,672},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Walking.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dfcfaca5e9a4040b1f4ad72ac14ae71$</string>
            <key>textureFileName</key>
            <string>Walking.png</string>
        </dict>
    </dict>
</plist>
