<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Falling_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,2},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,2},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,346},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,346},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
            <key>Falling_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,346},{241,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,342}}</string>
                <key>sourceSize</key>
                <string>{241,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falling1-12.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bc646f30fd1357041cdc41b3343a74a$</string>
            <key>textureFileName</key>
            <string>falling1-12.png</string>
        </dict>
    </dict>
</plist>
