<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Landing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,358},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,358},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,358},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,358},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,358},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,358},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,714},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,714},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,714},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,714},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
            <key>Landing_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,714},{274,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,354}}</string>
                <key>sourceSize</key>
                <string>{274,354}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>landing1-20.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:065df38a6fca316fd9603a39bedd0fab$</string>
            <key>textureFileName</key>
            <string>landing1-20.png</string>
        </dict>
    </dict>
</plist>
