<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,2},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,336},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,336},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,336},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,336},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,336},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,670},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,670},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
            <key>Run_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,670},{308,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,332}}</string>
                <key>sourceSize</key>
                <string>{308,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run1-16.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75cbc696eaf63a8cc8cd86c424c6e88c$</string>
            <key>textureFileName</key>
            <string>run1-16.png</string>
        </dict>
    </dict>
</plist>
