<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Standing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>standing.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb95eb925c6f8dee55099cf6b6c03db1$</string>
            <key>textureFileName</key>
            <string>standing.png</string>
        </dict>
    </dict>
</plist>
