<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Standing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,344},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,344},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,344},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,344},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,686},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,686},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,686},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,686},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1028},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
            <key>Standing_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1028},{191,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,340}}</string>
                <key>sourceSize</key>
                <string>{191,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>standing1-18.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b647e49d6a7c3dcc90d405d76a318da$</string>
            <key>textureFileName</key>
            <string>standing1-18.png</string>
        </dict>
    </dict>
</plist>
