<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walking_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,337},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,337},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,337},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,337},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,672},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,672},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
            <key>Walking_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,672},{182,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,333}}</string>
                <key>sourceSize</key>
                <string>{182,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walking1-14.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b42adf5a12fd918478d7d63031e780b9$</string>
            <key>textureFileName</key>
            <string>walking1-14.png</string>
        </dict>
    </dict>
</plist>
